<app-adminnav></app-adminnav>


  
    <div class="row " >
      <!-- Sidebar -->
      <div class="container-fluid">
        <div class="row flex-nowrap">
   
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-danger">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                   
                        <span class="fs-5 d-none d-sm-inline"><b>Admin Portal</b></span>
               
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                       
                      
                        <li>
                            <a routerLink="/dashboard" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2" style="color: white; font-size: large;"></i> <span class="ms-1 d-none d-sm-inline text-white fw-bold">Dashboard</span> </a>
                
                        </li>
                        <li>
                            <a routerLink="/categories"  class="nav-link px-0 align-middle ">
                                <i class="bi bi-columns-gap" style="color: white;"></i><span class="ms-1 d-none d-sm-inline text-white fw-bold">Categories</span></a>
        
                        </li>
                        <li>
                            <a routerLink="/products"  class="nav-link px-0 align-middle">
                                <i class="bi bi-cup-straw" style="color:white;"></i> <span class="ms-1 d-none d-sm-inline text-white fw-bold">Products</span> </a>

                        </li>
                        <li>
                            <a routerLink="/orders" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table" style="color: white;"></i> <span class="ms-1 d-none d-sm-inline text-white fw-bold">Orders</span></a>
                        </li>
                
                   
                        <li>
                            <a routerLink="/customers" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people" style="color: white;"></i> <span class="ms-1 d-none d-sm-inline text-white fw-bold">Customers</span> </a>
                        </li>

                        <li>
                            <a routerLink="/contact" class="nav-link px-0 align-middle">
                                <i class="bi bi-chat-right-text-fill" style="color: white;"></i><span class="ms-1 d-none d-sm-inline text-white fw-bold">Contact</span> </a>
                        </li>
                        
                    </ul>
  
                
                </div>
            </div>

        <div class="col py-3">
            

                 
                <table class="table table-hover table-dark table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>Category ID</th> -->
                            <th>Category Name</th>
                            <th>Image</th>
                            <!-- <th>IsActive</th> -->
                            <th>Created Date</th>
                            <th>Delete</th>
                            <th>Select</th>
                
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of objs.cList">
                            <!-- <td>{{p.CategoryId}}</td> -->
                            <td>{{p.Name}}</td>
                            <td>  <img [src]="p.ImageUrl" [alt]="p.Name"> </td>
                            <!-- <td>{{p.IsActive}}</td> -->
                           <td>{{p.CreatedDate | date}}</td>
                           <td><i class="bi bi-trash3" (click)="onDelete(p.CategoryId)"></i></td>
                           <td><i class="bi bi-pencil-square" (click)="fillData(p)"></i></td>
                           
                        </tr>
                    </tbody>
                </table>



            </div>


            <div class="col py-3">
               
            <h1>Register Categaries</h1>

            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form,fileInput)">

                <div class="form-group">
                   <input type="text" class="form-control" name="Name" #Name="ngModel"
                    [(ngModel)]="objs.cData.Name" placeholder="Category Name" required>
                </div>
            
        

                <div class="form-group pt-3">
                    <label for="imageUpload" class="font-weight-bold">Upload Image</label>
                        <div class="input-field">
                            <input type="file"  #fileInput (change)="onFileSelected($event)" />
                        </div>
                </div> 

             
                <!-- <div class="form-group">
                   
                        <div class="input-group-text">
                            <input type="checkbox" class="form-check-input" name="IsActive" [(ngModel)]="objs.cData.IsActive">
                            <label class="form-check-label">Is Active</label>
                        </div>
                    
                </div> -->
            
                <div class="form-group">
                    <div class="input-group-text bg-white text-warning">
                    <input type="date" class="form-control" name="CreatedDate" #CreatedDate="ngModel"
                    [(ngModel)]="objs.cData.CreatedDate" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">
                        <i class="bi bi-plus-circle"></i>Create/Update Category
                    </button>
                </div>
            
            </form>

            </div>
        </div>
    </div>
  
