<div class="container mt-5">
    <h2>Payment</h2>
    <form (ngSubmit)="onSubmit(paymentForm)" #paymentForm="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Customer Name</label>
            <input type="text" id="name" name="name" class="form-control" pattern="^(?!\s)([A-Za-z]+(\s[A-Za-z]+)*)?(?<!\s)$" ngModel placeholder="Enter your name" required>
        </div>
        <small *ngIf="paymentForm.controls['name']?.dirty && paymentForm.controls['name']?.invalid" class="text-danger">Name is required</small>


        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" class="form-control" [(ngModel)]="savedAddress" placeholder="Enter your address" required>
            <small *ngIf="paymentForm.controls['address']?.dirty && paymentForm.controls['address']?.invalid" class="text-danger">Address is required</small>

        </div>
        <button type="button" class="btn btn-secondary" (click)="useSavedAddress()">Use Registered Address</button>



        <div class="mb-3">
            <label for="paymentMode" class="form-label">Payment Mode</label>
            <select id="paymentMode" name="PaymentMode" class="form-select" ngModel required>
                <option value="" disabled selected>Select Payment Mode</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
        </div>

        <div *ngIf="paymentForm.value.PaymentMode === 'online'">
            <div class="mb-3">
                <label for="CardNo" class="form-label">Card Number</label>
                <input type="text" id="CardNo" name="CardNo" class="form-control" maxlength="16" minlength="16" ngModel placeholder="xxxx xxxx xxxx xxxx" required>
            </div>

            <div class="mb-3">
                <label for="CvvNo" class="form-label">CCV</label>
                <input type="text" id="CvvNo" name="CvvNo" class="form-control" ngModel minlength="3" maxlength="3" placeholder="Enter CCV Number" required>
            </div>

            <div class="mb-3">
                <label for="ExpiryDate" class="form-label">Expiry Date</label>
                <input type="month" id="expiry" name="ExpiryDate" class="form-control" ngModel required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.valid"  >Submit</button>

        <div *ngIf="submissionMessage" class="alert alert-success mt-3">{{ submissionMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </form>
</div>